@using NovolarLocadorFront.Extensions
@using System.Globalization
@model NovolarLocadorFront.ViewModel.DetalhesImovelViewModel


<style>
    body {
        background-color: #f8f9fa;
        font-family: 'Arial', sans-serif;
    }

    .card {
        margin-top: 50px;
        border: none;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .card-header {
        background-color: #D14900;
        color: white;
        border-bottom: none;
        border-radius: 10px 10px 0 0;
        text-align: center;
    }

    .form-control {
        border-radius: 5px;
    }

    .table th, .table td {
        vertical-align: middle;
    }

    .thead-custom {
        background-color: #D14900;
        color: white;
        max-width: 120px;
    }

    .tab-content {
        margin-top: 20px;
    }

    .form-group select {
        max-width: 200px;
    }

    .btn-custom {
        background-color: #D14900;
        color: white; /* Cor do texto para garantir contraste */
        border: none; /* Remover borda padrão */
        padding: 10px 20px; /* Espaçamento interno para o botão */
        font-size: 16px; /* Tamanho da fonte */
        cursor: pointer; /* Cursor de ponteiro ao passar sobre o botão */
        border-radius: 5px; /* Borda arredondada, opcional */
    }

        .btn-custom:hover {
            background-color: #000080; /* Cor um pouco mais clara ao passar o mouse */
            color: white;
        }

    a.btn-custom {
        background-color: #D14900;
        color: white !important; /* Cor do texto para garantir contraste */
        border: none; /* Remover borda padrão */
        padding: 10px 20px; /* Espaçamento interno para o botão */
        font-size: 16px; /* Tamanho da fonte */
        cursor: pointer; /* Cursor de ponteiro ao passar sobre o botão */
        border-radius: 5px; /* Borda arredondada, opcional */
    }

        a.btn-custom:hover {
            background-color: #000080; /* Cor um pouco mais clara ao passar o mouse */
            color: white;
        }

</style>



    <div class="container-fluid">
    <div class="row mb-3">
        <div>
            <h3>@Html.DisplayFor(m => m.EnderecoCompleto)</h3>
        </div>
    </div>
    </div>
    <hr />
    <div class="container-fluid">
        <div class="row">
            <div class="col-3">
            <!-- <img src="Model.IMG_URL" class="img-fluid rounded" alt="Imagem do Imóvel" /> -->
            </div>
            <div class="col-9">
                <div class="row mb-3">
                    <div class="col-6">
                        <h5>Situação do contrato: <span class="text-success">@Model.SituacaoContrato</span></h5>
                    </div>
                    <div class="col-6">
                    <h5>Situação do Aluguel: <span class="text-success">  &nbsp;@Model.SituacaoAluguel</span></h5>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-6">
                        <h5>Última vistoria: 25/04/2024</h5>
                    </div>
                    <div class="col-6">
                        @{
                            var valor = @Model.ValorAluguel.ToString("C", new CultureInfo("pt-BR"));
                            <h5>Valor Aluguel: @valor</h5>
                        }
                    </div>
                </div>
            <div class="row mb-3">
                <div class="col-6">
                    <h5></h5>
                </div>
                <div class="col-6 text-right">
                    <a class="btn-custom" asp-route-id="Model.ID_IMOVEL_IMO" asp-controller="Vistoria" asp-action="List"><span class="fa fa-search"></span>VISTORIAS</a>
                </div>
            </div>
            </div>
        </div>
    </div>
    <br />
    <br />
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h4>Dados do aluguel</h4>
            </div>
        </div>
    </div>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link active" id="tab1-tab" data-toggle="tab" href="#tab1" role="tab" aria-controls="tab1" aria-selected="true">Inquilino</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="tab2-tab" data-toggle="tab" href="#tab2" role="tab" aria-controls="tab2" aria-selected="false">Aluguéis</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="tab3-tab" data-toggle="tab" href="#tab3" role="tab" aria-controls="tab3" aria-selected="false">Aba livre</a>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="tab1-tab">
            <div class="row mt-3">
                <div class="col-8">
                    <p>Nome:&nbsp;@Model.InquilinoPrincipal.Nome</p>
                    @{
                    string _contato = string.IsNullOrEmpty(@Model.InquilinoPrincipal.Telefone) ? @Model.InquilinoPrincipal.Celular : @Model.InquilinoPrincipal.Telefone;
                <p>Contato:&nbsp;@_contato</p>
                }
                    <p>Email:&nbsp;@Model.InquilinoPrincipal.Email</p>
                    <p>CPF/CNPJ:&nbsp;@Model.InquilinoPrincipal.Cnpj</p>
                </div>
                <div class="col-4">
                    <img src="Model.Inquilino.IMG" width="120" height="120" />
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="tab2-tab">
            <div class="row mt-3">
                <div class="col-12">
                    <table class="table table-hover">
                        <thead class="thead-custom">
                            <tr>
                                <th>Mês</th>
                                <th>Valor</th>
                                <th>Vencimento</th>
                                <th>Situação</th>
                                <th>Comprovante Depósito</th>
                                <th>Comprovante Transferência</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Maio</td>
                                <td>R$ 900,00</td>
                                <td>20/06/2024</td>
                                <td>A vencer</td>
                                <td><a href="#">--</a></td>
                                <td><a href="#">--</a></td>
                            </tr>
                            <tr>
                                <td>Abril</td>
                                <td>R$ 120.900,00</td>
                                <td>20/05/2024</td>
                                <td>Pago</td>
                                <td><a href="#">Visualizar</a></td>
                                <td><a href="#">Visualizar</a></td>
                            </tr>
                            <tr>
                                <td>Março</td>
                                <td>R$ 900,00</td>
                                <td>20/04/2024</td>
                                <td>Pago</td>
                                <td><a href="#">Visualizar</a></td>
                                <td><a href="#">Visualizar</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="tab3" role="tabpanel" aria-labelledby="tab3-tab">
            <p>Conteúdo para a aba livre.</p>
        </div>
    </div>
    <hr />
    <br />
    <!-- CONDOMINIO -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                
            </div>
        </div>
    </div>
    <div class="container mt-2">
        <div class="form-group">
            <label for="exampleComboBox">Selecione o ano para consulta:</label>
            <select id="exampleComboBox" class="form-control">
                <option value="2024">2024</option>
                <option value="2023">2023</option>
                <option value="2022">2022</option>
                <option value="2021">2021</option>
                <option value="2020">2020</option>
            </select>
        </div>
    </div>
    <table class="table table-hover">
        <thead class="thead-custom">
            <tr>
                <th>Mês</th>
                <th>Valor</th>
                <th>Vencimento</th>
                <th>Situação</th>
                <th>Comprovante</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Maio</td>
                <td>R$ 900,00</td>
                <td>20/06/2024</td>
                <td>A vencer</td>
                <td><a href="#">--</a></td>
            </tr>
            <tr>
                <td>Abril</td>
                <td>R$ 900,00</td>
                <td>20/05/2024</td>
                <td>Pago</td>
                <td><a href="#">Visualizar</a></td>
            </tr>
            <tr>
                <td>Março</td>
                <td>R$ 900,00</td>
                <td>20/04/2024</td>
                <td>Pago</td>
                <td><a href="#">Visualizar</a></td>
            </tr>
        </tbody>
    </table>
    <hr />
    <br />
    <!-- IPTU -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h4>IPTU</h4>
            </div>
        </div>
    </div>
    <div class="container mt-2">
        <div class="form-group">
            <label for="exampleComboBox">Selecione o ano para consulta:</label>
            <select id="exampleComboBox" class="form-control">
                <option value="2024">2024</option>
                <option value="2023">2023</option>
                <option value="2022">2022</option>
                <option value="2021">2021</option>
                <option value="2020">2020</option>
            </select>
        </div>
    </div>
    <table class="table table-hover">
        <thead class="thead-custom">
            <tr>
                <th>Mês</th>
                <th>Valor</th>
                <th>Vencimento</th>
                <th>Situação</th>
                <th>Comprovante</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Maio</td>
                <td>R$ 900,00</td>
                <td>20/06/2024</td>
                <td>A vencer</td>
                <td><a href="#">--</a></td>
            </tr>
            <tr>
                <td>Abril</td>
                <td>R$ 900,00</td>
                <td>20/05/2024</td>
                <td>Pago</td>
                <td><a href="#">Visualizar</a></td>
            </tr>
            <tr>
                <td>Março</td>
                <td>R$ 900,00</td>
                <td>20/04/2024</td>
                <td>Pago</td>
                <td><a href="#">Visualizar</a></td>
            </tr>
        </tbody>
    </table>

<div>
    <a class="btn-custom" asp-action="List"><span class="fa fa-search"></span> Voltar</a>
</div>