@using NovolarLocadorFront.Extensions;
@using NovolarLocadorFront.ViewModel;
@using System.Globalization;
@model ProprietarioViewModel

<input type="hidden" id="locadorId" value="@Model.Proprietario.id_pessoa_pes" />
    
<div class="row">

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Total de imóveis
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                            @{
                                var valor = Model.Imoveis.Count;
                                <div>@valor</div>
                            }
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-calendar fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                            Total Alugado
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.QuantidadeImoveisLocados</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                            Valor Total Alugados
                        </div>
                        <div class="row no-gutters align-items-center">
                            <div class="col-auto">
                                <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">
                                    
                                    @{
                                        var valorAlugueis = Model.ValorTotalAlugueis.ToString("C", new CultureInfo("pt-BR"));
                                        <div>@valorAlugueis</div>
                                    }
                                    </div>
                            </div>
                            <!--
                            <div class="col">
                                <div class="progress progress-sm mr-2">
                                    <div class="progress-bar bg-info" role="progressbar"
                                         style="width: 50%" aria-valuenow="50" aria-valuemin="0"
                                         aria-valuemax="100"></div>
                                </div>
                            </div>
                            -->
                        </div>
                    </div>
                    <div class="col-auto">
                        <!--<i class="fas fa-clipboard-list fa-2x text-gray-300"></i>-->
                        <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Pending Requests Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                            A Definir
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">?</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-comments fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <div class="container">
        
         @foreach (var imovel in Model.Imoveis)
        {
            <div class="card">
                <div class="row no-gutters">
                    <div class="col-md-2">
                        <img src="@imovel.ImageUri" class="card-img" alt="Imagem do Imóvel">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                        <h5 class="card-title">@Html.Raw(@imovel.Detalhes)</h5> <!-- Html.Raw exibe o Html embutido -->
                            <p class="card-text">Situação do contrato: Ativo</p>
                        <!-- <p class="card-text">Situação do Aluguel: RazorExtensions.RetornaStatusAluguel(this, imovel.isLocado)</p>-->
                        <p class="card-text"></p>
                        </div>
                    </div>
                    <div class="col-md-2 d-flex align-items-center justify-content-center">
                    <a class="btn btn-primary btn-user btn-block" asp-controller="Imovel" asp-action="Details" asp-route-id="@imovel.Id">Detalhes</a>
                    </div>
                </div>
            </div>
        } 
    </div>
