@using NovolarLocadorFront.Extensions;
@using NovolarLocadorFront.ViewModel;
@using System.Globalization
@model ProprietarioViewModel
    <style>
        body {
            background-color: #f8f9fa;
            font-family: 'Arial', sans-serif;
        }

        .card {
            margin-top: 25px;
            border: none;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        .card-img{
            margin-top: 20px;
            margin-bottom: 20px;
            margin-left: 10px;
            max-height: 150px;
            max-width: 140px;
        }

        .card-header {
            background-color: #D14900;
            color: white;
            border-bottom: none;
            border-radius: 10px 10px 0 0;
            text-align: center;
        }

        .form-control {
            border-radius: 5px;
        }

        .table th, .table td {
            vertical-align: middle;
        }

        .thead-custom {
            background-color: #D14900;
            color: white;
            max-width: 120px;
        }

        .tab-content {
            margin-top: 20px;
        }

        .form-group select {
            max-width: 200px;
        }

        .btn-custom {
            background-color: #D14900;
            color: white; /* Cor do texto para garantir contraste */
            border: none; /* Remover borda padrão */
            padding: 10px 20px; /* Espaçamento interno para o botão */
            font-size: 16px; /* Tamanho da fonte */
            cursor: pointer; /* Cursor de ponteiro ao passar sobre o botão */
            border-radius: 5px; /* Borda arredondada, opcional */
        }

            .btn-custom:hover {
                background-color: #000080; /* Cor um pouco mais clara ao passar o mouse */
                color: white;
            }

        a.btn-custom {
            background-color: #D14900;
            color: white !important; /* Cor do texto para garantir contraste */
            border: none; /* Remover borda padrão */
            padding: 10px 20px; /* Espaçamento interno para o botão */
            font-size: 16px; /* Tamanho da fonte */
            cursor: pointer; /* Cursor de ponteiro ao passar sobre o botão */
            border-radius: 5px; /* Borda arredondada, opcional */
        }
            a.btn-custom:hover {
                background-color: #000080; /* Cor um pouco mais clara ao passar o mouse */
                color: white;
            }
    </style>
    <hr />
<input type="hidden" id="locadorId" value="@Model.Proprietario.id_pessoa_pes" />
    <div class="container-fluid">
    <div class="row mb-3">
        <div>
            <h3>Seus imóveis conosco</h3>
        </div>
    </div>
    </div>
    <hr />
    <div class="card">
        <br />
        <div class="row no-gutters" >
            <div class="col col-6">
                <div>&ensp;Total de imóveis: @Model.Imoveis.Count</div>
                <br />
                <div>&ensp;Total alugados: @Model.QuantidadeImoveisLocados</div>
            </div>
            
            <div class="col col-6">
            @{
                var valor = Model.ValorTotalAlugueis.ToString("C", new CultureInfo("pt-BR"));
                <div>Total dos Alugueis:&nbsp; @valor</div>
            }
            </div>
        </div>
       <br />
    </div>
       
   

    <div class="container">
        
         @foreach (var imovel in Model.Imoveis)
        {
            <div class="card">
                <div class="row no-gutters">
                    <div class="col-md-2">
                        <img src="@imovel.ImageUri" class="card-img" alt="Imagem do Imóvel">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                        <h5 class="card-title">@imovel.Detalhes</h5>
                            <p class="card-text">Situação do contrato: Ativo</p>
                        <!-- <p class="card-text">Situação do Aluguel: RazorExtensions.RetornaStatusAluguel(this, imovel.isLocado)</p>-->
                        <p class="card-text"></p>
                        </div>
                    </div>
                    <div class="col-md-2 d-flex align-items-center justify-content-center">
                        <a class="btn-custom btn-info" asp-controller="Imovel" asp-action="Details" asp-route-id="@imovel.Id">Detalhes</a>
                    </div>
                </div>
            </div>
        } 
    </div>
