@model NovolarLocadorFront.Models.DeadEntities.Vistoria

<style>
    body {
        background-color: #f8f9fa;
        font-family: 'Arial', sans-serif;
    }

    .card {
        margin-top: 50px;
        border: none;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .card-header {
        background-color: #D14900;
        color: white;
        border-bottom: none;
        border-radius: 10px 10px 0 0;
        text-align: center;
    }

    .form-control {
        border-radius: 5px;
    }

    .table th, .table td {
        vertical-align: middle;
    }

    .thead-custom {
        background-color: #D14900;
        color: white;
        max-width: 120px;
    }

    .tab-content {
        margin-top: 20px;
    }

    .form-group select {
        max-width: 200px;
    }

    .btn-custom {
        background-color: #D14900;
        color: white; /* Cor do texto para garantir contraste */
        border: none; /* Remover borda padrão */
        padding: 10px 20px; /* Espaçamento interno para o botão */
        font-size: 16px; /* Tamanho da fonte */
        cursor: pointer; /* Cursor de ponteiro ao passar sobre o botão */
        border-radius: 5px; /* Borda arredondada, opcional */
    }

        .btn-custom:hover {
            background-color: #000080; /* Cor um pouco mais clara ao passar o mouse */
            color: white;
        }

    a.btn-custom {
        background-color: #D14900;
        color: white !important; /* Cor do texto para garantir contraste */
        border: none; /* Remover borda padrão */
        padding: 10px 20px; /* Espaçamento interno para o botão */
        font-size: 16px; /* Tamanho da fonte */
        cursor: pointer; /* Cursor de ponteiro ao passar sobre o botão */
        border-radius: 5px; /* Borda arredondada, opcional */
    }

        a.btn-custom:hover {
            background-color: #000080; /* Cor um pouco mais clara ao passar o mouse */
            color: white;
        }

</style>

<div class="container">
    <div class="card">
        <div class="card-header">
            <h2>Detalhes da Vistoria</h2>
        </div>
        <div class="card-body">
            <form method="post">
                <div class="form-group">
                    <input hidden="true" asp-for="@Model.Id" class="form-control" readonly />
                </div>

                <div class="form-group">
                    <div>
                        <label asp-for="@Model.Imovel">Imóvel</label>
                    </div>
                    <div class="d-inline-flex">
                        <input asp-for="@Model.Imovel.ST_ENDERECO_IMO" class="form-control" />
                        <input asp-for="@Model.Imovel.ST_NUMERO_IMO" class="form-control" />
                    </div>
                    
                </div>

                <div class="form-group">
                    <label asp-for="@Model.Data">Data</label>
                    <input asp-for="@Model.Data" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="@Model.OBS">Observações</label>
                    <textarea asp-for="@Model.OBS" class="form-control"></textarea>
                </div>
                
                <div class="form-group">
                    <label asp-for="@Model.TipoVistoria">Tipo de Vistoria</label>
                    <select id="tipoVistoriaSelect" asp-for="TipoVistoria" class="form-control">
                        <option value="0">Entrada</option>
                        <option value="1">Saída</option>
                        <!-- Adicione mais opções conforme necessário -->
                    </select>
                </div>

                <!-- Ambientes vistoriados -->
                <div >
                    <table id="vistoriasTable" class="table table-hover">
                        <thead class="thead-custom">
                            <tr>
                                <th>Vistoriado?</th>
                                <th>Aprovado?</th>
                            </tr>
                        </thead>

                        <!--<tbody>-->
                        <tbody>
                            <tr>
                                <td>
                                    <div class="form-group">
                                        <label>Quartos</label>
                                        <input type="checkbox" asp-for="isVistoriaQuartos" checked="@Model.isVistoriaQuartos" />
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                    <input type="radio" value="true" asp-for="isVistoriaQuartosAprovada" checked="@(Model.isVistoriaQuartosAprovada == true)" /> Sim &nbsp;
                                    <input type="radio" value="false" asp-for="isVistoriaQuartosAprovada" checked="@(Model.isVistoriaQuartosAprovada == false)" /> Não
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <div class="form-group">
                                        <label>Salas</label>&nbsp;
                                        <input type="checkbox" asp-for="isVistoriaSalas" checked="@Model.isVistoriaSalas" />
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                    <input type="radio" value="true" asp-for="isVistoriaSalasAprovada" checked="@(Model.isVistoriaSalasAprovada == true)" /> Sim &nbsp;
                                    <input type="radio" value="false" asp-for="isVistoriaSalasAprovada" checked="@(Model.isVistoriaSalasAprovada == false)" /> Não
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <div class="form-group">
                                        <div class="form-group">
                                            <label>Banheiros</label>
                                            <input type="checkbox" asp-for="isVistoriaBanheiro" checked="@Model.isVistoriaBanheiro" />
                                        </div>
                                    </div>
                                </td>

                                <td>
                                    <div class="form-group">
                                        <input type="radio" value="true" asp-for="isVistoriaBanheiroAprovada" checked="@(Model.isVistoriaBanheiroAprovada == true)" /> Sim &nbsp;
                                        <input type="radio" value="false" asp-for="isVistoriaBanheiroAprovada" checked="@(Model.isVistoriaBanheiroAprovada == false)" /> Não
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <div class="form-group">
                                        <div class="form-group">
                                            <labe>Cozinha</labe>
                                            <input type="checkbox" asp-for="isVistoriaCozinha" checked="@Model.isVistoriaCozinha" />
                                        </div>
                                    </div>
                                </td>

                                <td>
                                    <div class="form-group">
                                        <input type="radio" value="true" asp-for="isVistoriaCozinhaAprovada" checked="@(Model.isVistoriaCozinhaAprovada == true)" /> Sim &nbsp;
                                        <input type="radio" value="false" asp-for="isVistoriaCozinhaAprovada" checked="@(Model.isVistoriaCozinhaAprovada == false)" /> Não
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <div class="form-group">
                                        <div class="form-group">
                                            <labe>Área Serviço</labe>
                                            <input type="checkbox" asp-for="isVistoriaAreaServico" checked="@Model.isVistoriaAreaServico" />
                                        </div>
                                    </div>
                                </td>

                                <td>
                                    <div class="form-group">
                                        <input type="radio" value="true" asp-for="isVistoriaAreaServicoAprovada" checked="@(Model.isVistoriaAreaServicoAprovada == true)" /> Sim &nbsp;
                                        <input type="radio" value="false" asp-for="isVistoriaAreaServicoAprovada" checked="@(Model.isVistoriaAreaServicoAprovada == false)" /> Não
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <div class="form-group">
                                        <div class="form-group">
                                            <labe>Garagem</labe>
                                            <input type="checkbox" asp-for="isVistoriaGaragem" checked="@Model.isVistoriaGaragem" />
                                        </div>
                                    </div>
                                </td>

                                <td>
                                    <div class="form-group">
                                        <input type="radio" value="true" asp-for="isVistoriaGaragemAprovada" checked="@(Model.isVistoriaGaragemAprovada == true)" /> Sim &nbsp;
                                        <input type="radio" value="false" asp-for="isVistoriaGaragemAprovada" checked="@(Model.isVistoriaGaragemAprovada == false)" /> Não
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <div class="form-group">
                                        <div class="form-group">
                                            <labe>Fachada</labe>
                                            <input type="checkbox" asp-for="isVistoriaFachada" checked="@Model.isVistoriaFachada" />
                                        </div>
                                    </div>
                                </td>

                                <td>
                                    <div class="form-group">
                                        <input type="radio" value="true" asp-for="isVistoriaFachadaAprovada" checked="@(Model.isVistoriaFachadaAprovada == true)" /> Sim &nbsp;
                                        <input type="radio" value="false" asp-for="isVistoriaFachadaAprovada" checked="@(Model.isVistoriaFachadaAprovada == false)" /> Não
                                    </div>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <a class="btn-custom" asp-action="List" asp-route-id="@Model.Imovel.ID_IMOVEL_IMO"><span class="fa fa-search"></span>Voltar</a>
            </form>
        </div>
    </div>
</div>