@using NovolarLocadorFront.Extensions
@model List<NovolarLocadorFront.Models.Vistoria>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h4>Vistorias do imóvel</h4>
        </div>

        @{
            var imovel = Model.First().Imovel;
        }

        
        <div class="container-fluid">
            <div class="row">
                <div class="col-10">
                    <h4>@imovel.ST_ENDERECO_IMO, @imovel.ST_NUMERO_IMO @imovel.ST_BAIRRO_IMO. @imovel.ST_CIDADE_IMO</h4>
                </div>

                <div class="col-2">
                    <a class="btn btn-info align-content-end" asp-controller="Imovel" asp-action="Details" asp-route-id="@imovel.ID_IMOVEL_IMO"><span class="fa fa-search"></span>Voltar</a>
                </div>

            </div>

        </div>


    </div>
</div>

<br />

<div class="container mt-2">
    <div class="form-group">
        <label for="exampleComboBox">Selecione o ano para consulta:</label>
        <select id="exampleComboBox" class="form-control">
            <option value="Option1">2024</option>
            <option value="Option2">2023</option>
            <option value="Option3">2022</option>
            <option value="Option4">2021</option>
            <option value="Option5">2020</option>
        </select>
    </div>
</div>

<table class="table table-hover">
    <thead >
        <tr>
            <th width="150px">Data</th>
            <th width="160px">Status</th>
            <th width="140px">Observação</th>
            <th width="110px">Detalhes</th>
            
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>20/06/2024</td>
            <td>Agendada</td>
            <td>ALGUM TEXTO CURTO AQUI</td>
            <td><a href="">Ver</a></td>
        </tr>
        <tr>
            <td>30/05/2024</td>
            <td>Em Vistoria</td>
            <td>ALGUM TEXTO CURTO AQUI</td>
            <td><a href="">Ver</a></td>
        </tr>
        <tr>
            <td>20/06/2024</td>
            <td>Concluída</td>
            <td>ALGUM TEXTO CURTO AQUI</td>
            <td><a href="">Ver</a></td>
        </tr>
        <tr>
            <td>20/06/2024</td>
            <td>Concluída</td>
            <td>ALGUM TEXTO CURTO AQUI</td>
            <td><a href="">Ver</a></td>
        </tr>
    </tbody>
</table>